extends ../layout

block content
  .header
    a(href='/'): img.logo(src='https://brandfolder.com/galvanize/assets/4q8xd3ky/galvanize_galvanize-logo-text-logo_logo.png')
    h1 Galvanize Reads
    br
    br
    br
  .newBookLink
    a(href='/books/new') New Book
    br
    br
  .booksTable
    for book in books
      .booksTableLeft 
        a(href='/books/'+book.id+''): img.bookCover(src=''+book.cover+'')
      .booksTableRight
        h4: a(href='/books/'+book.id+'')= book.title
        a.bookLinks(href='books/'+book.id+'/delete') Remove
        a.bookLinks(href='books/'+book.id+'/edit') Edit 
        for author in authors 
          for credit in credits
            if author.id === credit.authorID && book.id === credit.bookID
              p= author.first + ' ' + author.last
        p= book.genre
        p= book.description
                
          
