extends ../layout

block content
  .header
    a(href='/'): img.logo(src='https://brandfolder.com/galvanize/assets/4q8xd3ky/galvanize_galvanize-logo-text-logo_logo.png')
    h1 Galvanize Reads
  .pageLinks
    a(href='/books'): img(src='https://cdn4.iconfinder.com/data/icons/miu/24/editor-books-library-collection-glyph-32.png')
    a(href='/authors'): img(src='https://cdn3.iconfinder.com/data/icons/streamline-icon-set-free-pack/48/Streamline-23-32.png')
    br
    br
    br
  include ../includes/errors.jade
  h3 Add Book 
  .formContainer
    form(method='post' action='/books')  
      .form
        label(for='title') Title
        br
        input(type='text' id='title' name='title' placeholder='Title')
      .form
        label(for='genre') Genre
        br
        input(id='genre' name='genre' placeholder='Genre')
      .form
        label(for='cover') Cover Image URL
        br
        input(id='cover' name='cover' placeholder='Cover Image URL')
      .form
        label(for='description') Description
        br
        textarea(id='description' name='description' placeholder='Description')
      //.form
        //label(for='authors') Authors
        //br
        //textarea(id='fieldset' name='fieldset' placeholder='Add Authors')
        //br
        //input(type='button' value='+' class='authorButtons' id='addAuthor')
        //input(type='button' value='-' class='authorButtons' id='removeAuthor')
        //br
        //textarea(id='authors' name='authors' placeholder='Authors')
      .form
        button(type='submit') Add Book
    //script.
      //$('#addAuthor').click(function() {
        //$('#fieldset').clone().appendTo('#authors')
        //})
        
    
