body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo {
  float: left;
  height: 65px;
  width: 65px;
  margin-top: 15px;
}

h1 {
  float: left;
}

.errors {
  color: red;
}

.newBookLink a {
  float: right;
}

.booksTableLeft {
  width: 50%;
  float: left;
  margin-right: -500px;
  margin-left: 350px;
}

.booksTableRight {
  width: 40%;
  height: 300px;
  float: left;
}

.bookLinks {
  float: right;
  margin-right: 15px;
}

.bookCover {
  height: 200px;
  width: 150px;
}

.form {
  margin: 10px 0;
}

.authorButtons {
  padding: 5px;
  margin: 10px 10px 10px 0;
}

.homeContainer {
  margin-top: 150px;
  margin-left: 480px;
}

.leftHome {
  float: left;
  width: 35%;
}

.rightHome {
  float: left;
  width: 35%;
}
