body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo {
  float: left;
  height: 55px;
  width: 55px;
  margin-top: 12px;
}

h1 {
  float: left;
}

.booksTable {

}

.bookCover {
  height: 30%;
  width: 30%;
}
