extends ../layout

block content
  .header
    a(href='/'): img.logo(src='https://brandfolder.com/galvanize/assets/4q8xd3ky/galvanize_galvanize-logo-text-logo_logo.png')
    h1 Galvanize Reads
  .pageLinks
    a(href='/books'): img(src='https://cdn4.iconfinder.com/data/icons/miu/24/editor-books-library-collection-glyph-32.png')
    a(href='/authors'): img(src='https://cdn3.iconfinder.com/data/icons/streamline-icon-set-free-pack/48/Streamline-23-32.png')
    br
    br
    br
    br
    br
  if authors
    .authorsTableLeft 
      img.bookCover(src=''+authors.portrait+'')
    .authorsTableRight
      h5= authors.first + ' ' + authors.last
      p= authors.bio
      h5 Books
      for book in books
        for credit in credits
          if authors.id === credit.authorID && book.id === credit.bookID
            p: a(href='/books/'+book.id+'')= book.title
      form(action='/authors/'+authors.id+'/delete' method='post')
        button(type='submit') Delete #{authors.first} #{authors.last}?
