extends ../layout

block content
  .header
    a(href='/'): img.logo(src='https://brandfolder.com/galvanize/assets/4q8xd3ky/galvanize_galvanize-logo-text-logo_logo.png')
    h1 Galvanize Reads
  .pageLinks
    a(href='/books'): img(src='https://cdn4.iconfinder.com/data/icons/miu/24/editor-books-library-collection-glyph-32.png')
    a(href='/authors'): img(src='https://cdn3.iconfinder.com/data/icons/streamline-icon-set-free-pack/48/Streamline-23-32.png')
    br
    br
    br
  h3 Edit Author
  if authors
    .formContainer
      form(method='post' action='/authors/'+authors.id+'')  
        .form
          label(for='first') First Name
          br
          input(type='first' id='first' name='first' value=authors.first)
        .form
          label(for='last') Last Name
          br
          input(id='last' name='last' value=authors.last)
        .form
          label(for='portrait') Portrait URL
          br
          input(id='portrait' name='portrait' value=authors.portrait)
        .form
          label(for='bio') Biography
          br
          textarea(id='bio' name='bio') #{authors.bio}
        .form
          //label(for='authors') Authors
          //br
          //textarea(id='fieldset' name='fieldset' placeholder='Add Authors')
          //br
          //input(type='button' value='+' class='authorButtons' id='addAuthor')
          //input(type='button' value='-' class='authorButtons' id='removeAuthor')
          //br
          //textarea(id='authors' name='authors' placeholder='Authors')
        .form
          button(type='submit') Edit Author
      script.
        $('#addAuthor').click(function() {
          $('#fieldset').clone().appendTo('#authors')
          })
          
      
